/* clear default style */
* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  outline: none;
}

/* main style */
html,
body {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: serif, "iconfont","Microsoft Yahei";
  position: relative;
}

/* cards panel section */
.cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 280px;
  height: 70px;
  background-color: aqua;
  border-radius: 6px;
  margin: 10px;
  padding: 15px;
  position: relative;
}

.back-icon{
  position: absolute;
  right: 15px;
  bottom: 0px;
  font-family: "iconfont";
  opacity: 0.3;
  font-size: 90px;
}

.card-row-title {
  display:flex;
  margin-bottom: 14px;
}

.gist {
  font-size: 14px;
}

.time-indicator {
  font-size: 12px;
  background: rgba(255, 255, 255, 0.3);
  padding: 2px 4px;
  margin-left: auto;;
  border-radius: 3px;
}

.card-row-count {
  display: flex;
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

.count-percentage {
  margin-left: auto;
}

.all {
  background: #31b48d;
}

.undone {
  background: #38a1f2;
}

.undergoing {
  background: #7538c7;
}

.done {
  background: #3b67a4;
}

/* detailed info section */
.detailed-info {
  width: 1280px;
  margin-bottom: 40px;
}

.detailed-info > h2 {
  padding: 16px 8px;
}

.project-name {
  width:280px;
}

.project-describe{
  display: -webkit-box;
  width: 540px;
  overflow : hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  box-sizing: border-box;
  padding-right: 40px;
}

.deadline {
  width: 180px;
}

.status { 
  width: 180px;
 }

.status-active {
  color: #666666;
}

.status-pending {
  color: #ee706d;
}

.status-closed {
  color: #f7da47;
}

.operation {
  width: 90px;
}

.info-list-head {
  display: flex;
  background: #EBECF0;
  color: #333;
  padding: 8px;
  align-items: center;
  border-bottom: 1px solid #DCDEE3;
}

.info-row{
  display: flex;
  padding: 8px;
  align-items: center;
  border-bottom: 1px solid #DCDEE3;
}

.del-btn {
  color: white;
  background: #ee706d;
  padding: 5px 9px;
  border-radius: 2px;
}

.del-btn:hover {
  cursor: pointer;
}


/* alert window */
.alert-window {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 340px;
  height: 140px;
  margin: -70px 0 0 -170px;
  z-index: 2;
  background: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 20px;
  visibility: hidden;
}

/* I want use :before but it seem not easy to
choose this DOM using js */
.mask {
  position: absolute;
  visibility: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.close-window {
  align-self: flex-end;
  font-size: 16px;
}

.icon-wenhao::before {
  color: #F1C826;
  font-size: 24px;
  margin-right: 6px;
}

.icon-wenhao {
  line-height: 24px;
  color: #333;
  font-size: 20px;
}

.alert-window p {
  margin-left: 40px;
  color: #666;
  margin: 8px 0 18px 30px;
  font-size: 14px;
}

.btn-group {
  align-self: flex-end;
  margin-right: 10px;
}

.btn {
  box-sizing: border-box;
  color: white;
  padding: 5px 12px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #999;
}

.btn:hover {
  cursor: pointer;
}

.sure {
  background-color: #3080FE;
  margin: 0 10px 0 auto;
}

.cancel {
  color: black;
}